
#CadastroNavbar{
    font-size: 11px;
    padding-top: 5px;
}
#EntrarNavbar{
    font-size: 14px;
    text-align: center;
    padding-top: 2px;
    width: 70px;
    height: 30px;
    text-decoration: none;
    background-color: #C92071;
    color: white;
}

#BuscaNavbar {
  background-color: #F8F8F8;
}
