#logonavbar{
    width: 150px;
}
#CadastroNavbar{
    font-size: 11px;
    padding-top: 5px;
}
#EntrarNavbar{
    font-size: 14px;
    text-align: center;
    padding-top: 2px;
    width: 70px;
    height: 26px;
    text-decoration: none;
    background-color: #C92071;
    color: white;
}
#CarrinhoNavbar{
    width: 20px;
}
#BuscaNavbar {
  background-color: #F8F8F8;
  height: 25px;
  font-size: 10px;
  margin: 5px;
}
