/* src/components/Carrinho.module.css */
.pageContainer {
  background-color: #F9F8FE;
}

.fundo {
  background-color: #ffff;
  margin-bottom: 40px;
}

.btnEntrar {
  background: #C92071;
}

.barraDePesquisa {
  background-color: #f8f8f8;
}

.produtoImgContainer {
  background: #E2E3FF;
  height: 117px;
  width: 127px;
  margin: 10px;
}

.sapatos {
  background-color: #ffff;
  width: 202px;
}

.freteCupom {
  height: 81px;
}

.btnOk {
  border-radius: 8px;
  margin-left: 3px;
}


